{% extends "base.html" %}
{% block content %}

<h1>About</h1>
<div class="h1">
<h1>About Fortnite</h1>
</div>
<div class="container">
<p>Game Modes: The primary mode is Battle Royale (last one standing), but it also includes custom maps and other developers maden maps/worlds like (reload, blitz royale and other).</p>
<p>Gameplay: Players skydive onto an island, search for weapons, and build structures with materials like wood, stone, and metal to fight or protect themselves.</p>
<p>Platform & Style: It is known for its cartoonish graphics, fast-paced action, and, as a,,{"Link: metaverse platform"}2, social, "metaverse" feel, often hosting virtual concerts and events.</p>
<p>Monetization: While free, the game generates revenue through microtransactions, such as purchasing "V-Bucks" for cosmetic items (skins). </p>
<p>It is widely popular among children and teens, with a 12+ age rating due to mild, non-gory violence.</p>
</div>
<div class="photo3"> 
    <img src="../static/media/fortnite pav 2.jpg" >    
</div>
{% endblock %}