{% extends "base.html" %}
{% block content %}

<h1>Gameplay</h1>
<div class="h1">
<h1>Gameplay of Fortnite</h1>
</div>
<div class="container">
<p>In each battle, the aim is to be the last one standing out of 100 players. As the game progresses,</p>
<p>the map that players battle on gets smaller and smaller. Players must collect weapons, build forts and shoot other players to defeat them</p>
<p>Fortnite also offers the opportunity to create custom maps and share them with others.</p>
</div>
<div class="photo4">
    <img src="../static/media/fortnite pav 4.png">
</div>
{% endblock %}