{% extends "base.html" %}
{% block content %}

<h1>History</h1>
<div class="h1">
<h1>The history of Fortnite</h1>
</div>
<div class="container">
<p>Fortnite was developed by Epic Games and released in 2017. It originally launched as Fortnite: Save the World, a cooperative PvE game. While it had modest success, everything changed when<br>
Epic released Fortnite Battle Royale later in 2017, inspired by the growing battle-royale genre.The Battle Royale mode quickly became one of the most popular games in the world,<br>
 reaching tens of millions of players within months. Its success came from being free-to-play, colorful, accessible, and supported by constant updates.Epic introduced Seasons and the Battle Pass,<br>
creating a new standard for live-service games. Each season brought map changes, story events, and new cosmetics, keeping the game fresh. Fortnite also pioneered large-scale live events, such as map-changing moments and virtual concerts. 
In 2019, Fortnite entered Chapter 2, resetting the map and improving gameplay systems. The game began collaborating heavily with major franchises like Marvel, Star Wars, DC, and music artists, turning Fortnite into a pop-culture hub.
In 2020, Epic sued Apple and Google over app store fees, leading to Fortnite’s removal from mobile platforms, a major moment in gaming and tech history.From 2021 onward, Fortnite expanded beyond a single game into a platform.
With Creative mode, Unreal Engine upgrades, and Creator 2.0, players could build full games inside Fortnite and earn money.By 2023–2024, Fortnite evolved into multiple experiences like LEGO Fortnite,
Rocket Racing, and Fortnite Festival, showing Epic’s vision of Fortnite as a metaverse-style ecosystem, not just a shooter.</p>
</div>
<div class="photo2">
    <img src="../static/media/fortnite pav 6.jpg">
</div>
<a href="/egg">
    <img src="../static/media/EasterEgg.png"
         width="200"
         >
</a>
{% endblock %}