{% extends "base.html" %}
{% block content %}

<h1>Tips</h1>
<div class="h1">
<h1>Tips for better winrate</h1>
</div>
<div class="h2">
<h1>To increase your win rate, you need to play smart and know a few tricks</h1>
</div>
<div class="container">
<p>1. If you're playing Battle Royale, it's best to avoid fights in the midgame because there are a lot of players on the map who can get in your way (finish you off or chase you). It's smarter to stay sneaky until the endgame, as this will give you a better chance of winning.</p>
<p>2. Change the settings and make sure that you feel comfortable.</p>
<p>3. If you are not very good at the game, but someone attacks you, it is best to play defensively. Build boxes and wait for your opponent to make a mistake that will allow you to deal damage or escape.</p>
<p>4. Don't use durable materials such as metal and bricks at the beginning of the game; use them only as a last resort. They can be very useful in the endgame.</p>
</div>
<div class="photo">
<img src="../static/media/fortnite pav 3.png">
<img src="../static/media/fortnite pav 7.jpg">
</div>
{% endblock %}